<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/JsonFunc.js'></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // ajax 부분
      $(document).ready(function(){
        $('#getMethod').click(function() {
          var get = 'GET METHOD CALL';
          //Ajax GET Method TEST
          $.ajax({
            url: '/server/testGet',
            dataType: 'json',
            type: 'GET',
            data: {data:get},
            success: function(result) {
              //result 수신 시
              if (result) {
                $('#get_output').html(result.result);
              }
            }
          });
        });

        $('#postMethod').click(function() {
          var post = 'POST METHOD CALL';
          //Ajax POST Method TEST
          $.ajax({
            url: '/server/testPost',
            dataType: 'json',
            type: 'POST',
            data: {data:post},
            success: function(result) {
              //result 수신 시
              if (result) {
                $('#post_output').html(result.result);
              }
            }
          });
        });

      });
    </script>
    <script>
      //API 부분
      var xhr = new XMLHttpRequest();
      parser = new DOMParser();
      var url = 'http://apis.data.go.kr/B552584/EvCharger/getChargerInfo'; /*URL*/
      var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'Zxc%2BL1BY7vTH4mkcjzGShFsue5yUAk2q55yjb3nUf7EeeXcsQTv9nE7qIjVN2oU01PuQMJ%2BiHQGuo2fa2ZlJlw%3D%3D'; /*Service Key*/
      queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
      queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('9999'); /**/
      // queryParams += '&' + encodeURIComponent('period') + '=' + encodeURIComponent('999'); /**/
      queryParams += '&' + encodeURIComponent('zcode') + '=' + encodeURIComponent('50'); /**/
      xhr.open('GET', url + queryParams);
      xhr.onreadystatechange = function () {
        if (this.readyState === 4) {
          alert('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
          const responseJson = xml2json(parser.parseFromString(this.response, "text/html"));
          var csv = jsonToCSV(responseJson['HTML']['BODY']['RESPONSE']['ITEMS']['ITEM']);

          //한글 처리를 해주기 위해 BOM 추가하기
          const BOM = "\uFEFF";
          csv = BOM + csv;

          //다운로드를 위해 POST 전송
          fetch('/server/csv2server', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            data:csv
          })
          });
        }
      };
      // xhr.send('');


      // 팝업오픈하여 폼데이터 Post 전송
      function openPop(){
        const popupTitle = "Kakao Map Popup"
        window.open("/map", popupTitle, "width=515px,height=415px") ;

        var frmData = document.frmData ;
        frmData.target = popupTitle ;
        frmData.action = "/map" ;
        frmData.submit() ;
      }

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form name="frmData" id="frmData" method="post">
      <input type="text" name="name" id="name" value="Data" />
      <input type="text" name="id" id="id" value="Data2" />
    </form>
    <a href="#" onClick="openPop();">Popup Open</a>

    <h1>Ajax 기본 테스트</h1>
    <div style="border: 3px solid gray; width: 180px;">
      <h2>GET</h2>
      <button id='getMethod'>GET</button>
      <p id ='get_output'>get</p>
    </div>

    <div style="border: 3px solid gray; width: 180px;">
      <h2>POST</h2>
      <button id='postMethod'>POST</button>
      <p id ='post_output'>post</p>
    </div>

  </body>
</html>
