<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/JsonFunc.js'></script>
    <script>

      //API 부분
      var xhr = new XMLHttpRequest();
      parser = new DOMParser();
      var url = 'http://apis.data.go.kr/B552584/EvCharger/getChargerInfo'; /*URL*/
      var queryParams = '?' + encodeURIComponent('serviceKey') + '='+'Zxc%2BL1BY7vTH4mkcjzGShFsue5yUAk2q55yjb3nUf7EeeXcsQTv9nE7qIjVN2oU01PuQMJ%2BiHQGuo2fa2ZlJlw%3D%3D'; /*Service Key*/
      queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
      queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('9999'); /**/
      // queryParams += '&' + encodeURIComponent('period') + '=' + encodeURIComponent('999'); /**/
      queryParams += '&' + encodeURIComponent('zcode') + '=' + encodeURIComponent('50'); /**/
      xhr.open('GET', url + queryParams);
      xhr.onreadystatechange = function () {
        if (this.readyState === 4) {
          alert('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
          const responseJson = xml2json(parser.parseFromString(this.response, "text/html"));
          console.log(typeof(responseJson['HTML']['BODY']['RESPONSE']['ITEMS']['ITEM']));
          console.log(responseJson['HTML']['BODY']['RESPONSE']['ITEMS']['ITEM']);
          var csv = jsonToCSV(responseJson['HTML']['BODY']['RESPONSE']['ITEMS']['ITEM']);

          //한글 처리를 해주기 위해 BOM 추가하기
          const BOM = "\uFEFF";
          csv = BOM + csv;

          //다운로드를 위해 POST 전송
          fetch('/server/csv2server', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            data:csv
          })
          });
        }
      };

      xhr.send('');
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
